@font-face {
    font-family: "tetris";
    src: url("Endless\ Boss\ Battle.ttf");
}

html,
body {
    color: white;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    background-image: url('./background.jpg');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -3;
    height: 100%;


}

.logo {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 57%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
}


.col-sm-6{
    margin-top: 150px;
    -webkit-animation: slide-top 5s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite alternate-reverse both;
    animation: slide-top 5s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite alternate-reverse both;

}
.option{
margin-left: 80px;
    font-family: tetris;
    color: white;
    font-size: 50px;
    -webkit-animation: text-shadow-drop-center 1.7s infinite alternate-reverse both;
    animation: text-shadow-drop-center 1.7s infinite alternate-reverse both;
   

}


#by{
    color: white;
    font-family: tetris;
    font-size: 15px;
    padding-right: 30px;
    float: right;
    padding-top: 200px;
}

@-webkit-keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 #939de6;
    }
    100% {
      text-shadow: 0 0 18px #939de6;
    }
  }
  @keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 #939de6;
    }
    100% {
      text-shadow: 0 0 18px #939de6;
    }
  }
  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
  }
  

  
.st3:hover{
    transition: all 2s ease-in;
    transform: translate(111px, 0px);
  }

  svg circle:hover:first-child ~ circle{
    transition: all 2s ease-in;
    transition-delay: 1.9s;
    transform: translate(111px, 0px);


  }
